---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length
FormatStyle: file
HeaderFilterRegex: .*
